<!DOCTYPE html>
<html lang="en">
<head>
  <title>Webcrawler</title>
  <meta charset="utf-8">
  <link rel="icon" href="" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  html {
    overflow: scroll;
    overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0px;  
        background: transparent; 
    }
    img{
      width: 100%;
    }


  </style>
</head>
<body>

<div style="width:100%;height:90px;background: #0277BD;position:fixed;z-index:99999">
    <h3 class="header-body">Welcome To News Web Crawler </h3>

</div>

<div class="container" style="padding-top:100px">
    <% for(i=0 ; i < news.length ; i++) { %>
      <% if(news[i].description && news[i].title) { %>
          <div class="col-sm-4">
            <div class="panel-group">
              <div class="panel panel-primary">
                <div class="panel-heading news-heading" style="">
                 <strong> <%- news[i].title %></strong>
                </div>
                <div class="panel-body">
                  <div class="col-sm-12 news-body">
                    <%- news[i].description %>
                  </div>
                </div>
                <div class="panel-footer" style="text-align:center">
                    <a class="btn btn-primary" onclick="openPop('<%- news[i].title %>','<%- news[i].link %>')">View</a>
                </div>
              </div>
            </div>
          </div>
        <% } %>
    <% } %>
</div>
<div class="modal fade" id="myModal" role="dialog" style="padding:0 !important;z-index:9999999;">
  <div class="modal-dialog modal-lg" style="width:90% !important;height:100% !important;z-index:9999999;padding:0 !important">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="pop-title">
        </h4>
      </div>
      <div class="modal-body">
        <iframe src="" style="height:400px;width:100%;border:0" name="news-iframe" id="news-iframe">

        </iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<footer class="my-footer" >
    <div class="container" >
        <div class="footer-top page-header">
            <h2 class="text-center image-icon ">News Web Crawler</h2>

        </div>
        <div class="footer-middle text-center ">
            <div class="abc page--header">
                <span class="fa fa-envelope footer-icon"></span>
                <a ><p style="margin-right: 8px;">98.vishalgarg@gmail.com</p></a>
            </div>
            <span class="fa fa-phone footer-icon"></span>
            <p class="text">8950551108</p>

        </div>
    </div>
    <div class="footer-bottom text-center">
        <p>Developed by Vishal Garg<br></p>
    </div>
    </div>
</footer>



<script>
frames['news-iframe'].document.head.appendChild('<style>body{display:none !important}</style>');
function openPop(title,newsurl){
  $('#pop-title').html(title);
  $('#news-iframe').attr('src',newsurl);
  $('#myModal').modal('show');
}
</script>

</body>
</html>
