.active{
  color: white;}
.news-heading{
  height: 50px;
  overflow: scroll;
}
.news-body{
  height: 200px !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: scroll;
}
@media(max-width:500px){
        .header-body{
            margin:0px;
            padding: 12px;
            color:#fff;
            width: 100%;
            text-shadow:0 1px 1px rgba(0,0,0,0.5);
            font-weight:500;
            text-align:center;
            font:bold 25px Georgia;
        }
}
.header-body{
     margin:0px;
     padding: 20px;
     color:#fff;
     width: 100%;
     text-shadow:0 1px 1px rgba(0,0,0,0.5);
     font-weight:500;
     text-align:center;
     font:bold 30px Georgia;
}
.my-footer{
    margin-top: 15%;
    background-color: #0277BD;

}


.my-footer .footer-top{
    border-bottom: 2px solid #029cee;
    border-radius: 8px;
}

.my-footer .footer-top h2{
    color:#fff;
    font:bold 18px Helvetica;
    margin-top: 5px;
}

.my-footer .footer-middle p{
    display:inline-block;
    color:#fff;
    font:bold 12px Helvetica;
    padding-top: 2px;
}

.my-footer .image-icon{
    -webkit-transition:all 1s ;
}
.my-footer .image-icon:hover{
    opacity: 0.5;
}
.my-footer .footer-icon{
    color:white;
    font-size:15px;
    width:28px;
    height:28px;

}

.abc{
    display:inline-block;
    border-right:  3px solid #fff;
    margin-left: 2px;
    border-radius: 2px;
    height: 20px;
}

.footer-bottom {
    color:white;
    font-weight: 500;
    font-size: 12px;
    margin-top: 2px;
    padding-bottom: 1px;
}
